name: PowerShellTest

on: push

jobs:
  first_job:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Display hello world pwsh
        run: |
          write-host "hello world pwsh"
          $PSVersionTable
        shell: pwsh

      - name: Display hello world powershell
        run: |
          write-host "hello world pwsh"
          $PSVersionTable
        shell: powershell

      - name: run ps1File cmd
        run: powershell -NoProfile -ExecutionPolicy Unrestricted ./helloworld.ps1
        shell: cmd

      - name: run ps1File pwsh
        run: powershell -NoProfile -ExecutionPolicy Unrestricted ./helloworld.ps1
        shell: pwsh
        